/* PAGE-WIDE */
body {
    background-color: #FFD83F;
    font-family: sans-serif;
}

.flagbkg {
    height: 100vh;
    background: linear-gradient(to bottom, #3F3F3F, #3F3F3F 33%, #FF3F3F 33%, #FF3F3F 66%, #FFD83F 66%);
    background-size: 100% 100vh; 
}

.mainbox {
    width: 75%;
    margin: 0 auto 75px;
    padding: 25px;
    z-index: 999;
    text-align: center;
    background-color: #FFEDB7;
    box-shadow: 10px 10px 0px #3F3F3F; 
}

.maintitle {
    padding-bottom: 0px;
    margin-top: 20px;
    font-family: 'Germania One', sans-serif;
    font-size: 1.5em;
    color: #181818;
}

#footer {
    display: block;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    font-size: .8em;
    line-height: 150%;
    color: #c49c00;
}

.l1, a {
    color: #181818;
}

.socmed a {
    display: inline-block;
    margin: 20px 10px;
    text-decoration: none;
}


/* BUTTONS */
.btn {
    position: relative;
    display: inline-block;
    margin: 25px 0px;
    padding: 20px 40px;
	border: none;
    outline: none;
    cursor: pointer;
    background: #FF3F3F;
	font-size: .8em;
	letter-spacing: 1px;
	font-weight: 700; 
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
}
.btn:hover {
    top: 2px;
	box-shadow: 0 4px #ab3c3c;
}
.btn:active {
    top: 6px;
	box-shadow: 0 0 #ab3c3c;
}

#help {
    position: relative;
    display: inline-block;
    padding: 18px 30px 20px 30px;
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
	font-size: .8em;
	letter-spacing: .5px;
	font-weight: 700;
	color: #3F3F3F;
}
#help:hover {
    background-color: rgba(0,0,0,.15);
}


/* SECTION: INSULT */
.topcont {
    padding-top: 15vh;
}

#biginsult {
    margin: 0;
    line-height: 115%;
    font-family: 'UnifrakturCook', cursive;
    font-size: 4.5em;
    color: #3F3F3F;
    text-shadow: 0px 1px 0px #000000, 0px 2px 0px #000000;
    word-wrap: break-word
}

#engtrans {
    margin: 25px 0 0 0 ;
    font-family: sans-serif;
    color: rgba(63, 63, 63, .75);
    font-size: 1em;
}

.btnbar {
    margin-top: 50px;
}


/* SECTION: LIPSUM */
#lipsumform div {
    float: left;
    height: 50px;
    min-width: 10%;
    margin: 25px 5px 50px 0;
}

#lipsumholder {
    text-align: left;
    font-family: 'Germania One', sans-serif;
    font-size: 1em;
    color: #111111;
}

.botbtn {
    margin-top: -25px;
    width: 100%;
}


/* INPUT FIELDS */
input[type=radio] {
    display: none;
}
input[type=radio] + label {
	display: block;
    height: 75px;
    width: 50px;
    margin: -43px 25px 0 0;
    padding-left: 60px;
    cursor: pointer;
    background: url('../images/rdo-0.png') left center no-repeat;
    background-size: 50px 75px;
    font-family: 'Germania One', sans-serif;
    text-align: left;
    font-size: 1.2em;
    color: #3F3F3F;
}
input[type=radio]:checked + label {
    height: 75px;
    width: 50px;
    background: url('../images/rdo-1.png') left center no-repeat;
    background-size: 50px 75px;
}

input[type=number] {
    box-sizing: border-box;
    width: 65px;
    margin: -75px 0 8px 0;
    padding: 12px 5px 12px 15px;
    border: 2px solid #998c6d;
    background-color: #fff9e6;
    font-family: 'Germania One', sans-serif;
    font-size: 1.2em; 
}
input[type=number] + label {
    margin-left: 5px;
    font-family: 'Germania One', sans-serif;
    font-size: 1.2em;
    color: #3F3F3F;
}
input[type=number]::-webkit-inner-spin-button { 
    position:relative;
    display:block;
    cursor:pointer;  
}    
input[type=number]:hover::-webkit-inner-spin-button { 
    right: -5px;
    padding: 4px;
    width: 14px;
    height: 38px;
}


/* --- RESPONSIVE --- */
@media only screen and (max-width: 606px) {
    #biginsult {
        font-size: 3em; }
    
    .topcont {
        padding-top: 7vh; }

    #engtrans {
        margin: 5px 0 0 0; }

    .btnbar {
        margin-top: 25px; }
    
    #lipsumform div {
        height: 0px;
        margin: 25px 5px 50px 0; }
    
    .botbtn {
        margin-top: 25px; }
}

@media only screen and (max-width: 380px) {
}